/* CSS */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgray;
}

.card-title {
  padding: 10px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color); 
}

.btn {
  background-color: var(--secondary-color); /* Replace with your secondary color */
  color: white;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modelBox {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 20px; /* Adjust as needed */
  border-radius: 8px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}