.card{
  margin: 20px;
}

.modeldetailsbox{
  position: relative;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 20px;
  border-radius: 8px; 
  margin: 20px;/* Adjust border-radius as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-delete {
  font-size: 30px;
  font-weight: bold;
  color: red;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  transition: 0.3s; 
}

.btn-delete span {
  display: inline-block;
}

.btn-delete span:hover {
  box-shadow: 0 0 10px red, 0 0 20px red; 
}