.card{
  margin: 20px;
}

.datadetailsbox{
  background-color: rgba(128, 128, 128, 0.1);
  padding: 20px;
  border-radius: 8px; 
  margin: 20px;/* Adjust border-radius as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
