.description-box{
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-color: white;

  margin: auto;
  position: absolute; /* Change to absolute */
  top: 50%; /* Move the box down by 50% of the parent container */
  left: 50%; /* Move the box right by 50% of the parent container */
  transform: translate(-50%, -50%); /* Center the box */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center; /* Center the text horizontally */
  padding: 20px; /* Set padding on all sides */
  box-sizing: border-box;
}

.asset-description{
  background-color: rgba(128, 128, 128, 0.1);
  padding-top: 20px;
  border-radius: 8px; 
  margin: 20px;/* Adjust border-radius as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}