.description-box{
  width: 100%; 
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 20px; /* Set padding on all sides */
}

.textbox{
  background-color: rgba(128, 128, 128, 0.1);
  text-align: left;
  padding: 3rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
 
}

.asset-description{
  width: 80%;
  background-color: rgba(149, 187, 32, 0.7);
  padding: 20px;
  border-radius: 8px; 
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .asset-details-title {
  display: flex;
  justify-content: space-between;
} */

.column1{
  float: left;
}

.column2{
 flex-shrink:0;
}