<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Technical Capability Tester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Technical Capability Tester</h1>
    
    <form action="/query1" method="post">
        <button type="submit">Temperature Control Unit</button>
    </form>

    <form action="/query2" method="post">
        <button type="submit">Handling Device</button>
    </form>

    <form action="/query3" method="post">
        <button type="submit">Injection Molding Machine</button>
    </form>
</body>
</html>
