<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Model Catalogue</h1>
    <h5>Scheduling Models for the Injection Molding domain</h5>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body>
    <form method="POST" action="/model-execution/">
    <div class="container-column-1">
        <div class="container-column-1">
            {% for selected_model in selected_models %}
            <div class="set">
                <h6>{{ selected_model["name"] }}</h6>
                <div class="checkbox-container-new">
                    <input type="checkbox" name="selected_model" value="{{ selected_model["name"] }}" id="selected_model_{{ loop.index }}">
                    <label for="selected_model_{{ loop.index }}">{{ selected_model["name"] }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="button-container">
        <button type="button" class="submit-button-new" onclick="displaySelectedModel()">Details</button>
    </div>
    <div class="flex-container">
    <!-- Grey box for displaying the JSON data -->
    <div id="jsonBox" class="grey-box">
        <h2>Model Metadata</h2>
        <pre id="selectedModelContainer"></pre>
    </div>
    <br>
    <br>
    <!-- Grey box for displaying the JSON data -->
    <div id="asset" class="black-box">
        <h2>Underlying Asset</h2>
        <pre id="selectedAssetContainer"></pre>
    </div>
    <div class="button-container-1">
        <button id= "execute" type="submit" class="submit-button-1">Execute Model</button>
    </div>
    </div>
    <script>
        function displaySelectedModel() {
            var checkbox = document.querySelector("input[name='selected_model']:checked");

            if (checkbox) {
                var selectedModelName = checkbox.value;

                // Make an AJAX request to retrieve the selected JSON data
                fetch("/model/" + selectedModelName)
                    .then(response => response.text())
                    .then(data => {
                        // Update the content of the pre element with the received data
                        document.getElementById('selectedModelContainer').textContent = data;
                        var jsonData = JSON.parse(data)
                        var formattedJson = JSON.stringify(jsonData, null, 4);
                        document.getElementById('selectedModelContainer').textContent = formattedJson
                        // Show the grey box
                        document.getElementById('jsonBox').style.display = 'block';
                    })
                    .catch(error => {
                        console.error("Error fetching data:", error);
                    });
                fetch("/underlying-asset/" + selectedModelName)
                    .then(response => response.text())
                    .then(data => {
                        // document.getElementById('selectedAssetContainer').textContent = data
                        document.getElementById('asset').style.display = 'block';

                        // Parse the JSON data
                        var tableData = JSON.parse(data);

                        // Create an HTML table
                        var table = "<table border='1' class='styled-table'><tr><th>Reference</th><th>Duration</th><th>Company</th><th>Product</th><th>Quantity</th><th>State</th></tr>";

                        for (var i = 0; i < tableData.length; i++) {
                            table += "<tr><td>" + tableData[i].Reference + "</td><td>" + tableData[i].Duration + "</td><td>" + tableData[i].Company + "</td><td>" + tableData[i].Product + "</td><td>" + tableData[i].Quantity + "</td><td>" + tableData[i].State + "</td></tr>";
                        }

                        table += "</table>";

                        // Set the content of the <pre> element to the HTML table
                        document.getElementById('selectedAssetContainer').innerHTML = table;                    })
                    .catch(error => {
                        console.error("Error fetching data:", error);
                    });
                document.getElementById('execute').style.display = 'block';
            } else {
                window.alert("No model selected");
            }
        }
    </script>
    </form>
</body>
</html>
